

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/trenitalia-uai-800x342.png);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 300px;
}
main{
    width: 100%;
    height: calc(100vh - 300px);
    padding: 20px;
}
.container{
    max-width: 552px;
    height: 52vh;
    margin: 0 auto;
    position: relative;
    background-color: red;
    border-radius: 25px;
}
.row{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}
.col-30{
    flex-basis: 30%;
    padding: 20px;
}
.col-20{
    flex-basis: 20%;
    padding: 20px;
}

/* #kilometers,#name,#surname,#discount, #price{
    font-size: 30px;
    color: white;

} */
/* .text{
    font-size: 20px;
    text-decoration: underline;
    font-style: italic;
}
.prezzo-logo{
    display: flex;
    align-items: center;
}
.euro{
    font-size: 40px;
    color: white;
    margin: 0 10px;
}
.km,.user,.sconto,.prezzo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goodbye{
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 100px;
} */